
.home-page{
    height: 100vh;
}
  
  .txt-animation {
    display: inline-block;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    color: white;
    font-size: 2.5rem;
    letter-spacing: 1px;
  }
  
 .txt-animation:hover {
    color: #28e98c;
    animation-name: rubberBand;
  }
  
  .txt-hi{
    font-size: 2rem;
  }
  .txt-p{
    color: #28e98c;
  }
 
  @keyframes rubberBand {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      transform: scale3d(.95, 1.05, 1);
    }
  
    75% {
      transform: scale3d(1.05, .95, 1);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }
  
  .rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
  }

  .txt-dev-animation{
    font-size: 1.25rem;
    letter-spacing: 2px;
  }

  .wave {
    animation-name: wave-animation; 
    animation-duration: 2.5s;       
    animation-iteration-count: infinite;  
    transform-origin: 70% 70%;     
    display: inline-block;
    font-size: 1.75rem;
    position: relative;
    bottom: 2px;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }
    100% { transform: rotate( 0.0deg) }
  }


.home-button{
    border: 1px solid #28e98c;
    margin-bottom: 1rem;
    background: transparent;
    color: #28e98c;
}
.img-div{
    width: 90%;
    z-index: 2;
    margin-top: 45px;
    padding-bottom: 2rem;
    padding-top: 2rem;
}


@media (min-width:768px){
  .home-page{
    height: 90vh;
}
    .home-info{
        width: 60%;
    }
    .txt-animation{
        letter-spacing: 2px;
    }
    
    .img-div{
        margin-top: 0;
        width: 40%;
        height: 15rem;
       padding: 0;
    }
    .img-div img{
      width: 100%;
      object-fit: contain;
    }
    .txt-hi{
        font-size: 2rem;
      }
}

@media (min-width:992px){
  
    .txt-animation {
        font-size: 3rem;
    }
    .txt-dev-animation{
        font-size: 1.75rem;
        letter-spacing: 2px;
      }
      .txt-hi{
        font-size: 2rem;
      }
}

@media (min-width:1440px){
  .home-page{
    height: 88.2vh;
}
    .home-info{
    padding-top: 1rem;
    }
    .txt-animation {
      font-size: 3.5rem;
  }
    
    .txt-hi{
        font-size: 2.5rem;
      }
      .img-div{
        height: 25rem;
    }
}